body, html {
  width: 100%;
  height: 100%;
}

.quiz-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.quiz {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 50px;
  padding: 30px;
  overflow: auto;
}
.quiz-masthead {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  border-bottom: 1px solid #DDD;
}
.quiz-logo-wrapper {
  display: inline-block;
  padding: 15px 30px;
}
.quiz-logo {
  height: 20px;
  width: 150px;
  background: url("../img/boston-globe.png");
  background-size: cover;
}
.quiz-name {
  float: right;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin: 0px 20px;
  font-size: 18px;
  font-family: 'Miller Headline Roman';
}
.quiz-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 50px;
  border-top: 1px solid #EEE;
}
.quiz__header {
  width: 100%;
  position: relative;
  padding: 5px 0 10px;
}
.quiz__progress, .quiz__watch, .quiz__next {
  display: inline-block;
  font-family: 'Miller Headline Roman';
  line-height: 50px;
  padding: 0px 30px;
}
.quiz__timer, .quiz__timer__icon {
  display: inline-block;
  vertical-align: middle;
}
.quiz__timer {
  margin-left: 5px;
}
.quiz__timer__icon {
  margin-top: -5px;
  height: 20px;
  width: 20px;
  background-image: url("../img/stopwatch.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.quiz__next {
  cursor: pointer;
  float: right;
}
.quiz__next:hover {
  opacity: .8;
}
.quiz__progress {
  cursor: pointer;
}
.quiz__question {
  display: block;
  font-size: 30px;
  line-height: 38px;
  margin: 0px 0px 30px 0px;
  text-align: left;
  font-family: "Miller Headline Roman";
}
.quiz__answer {
  -webkit-transition: .1s ease all;
}
.quiz__answer--text {
  min-width: 160px;
  max-width: 50%;
  margin: 8px 0;
  border-radius: 3px;
  font-weight: 700;
  background-color: #f2f2e8;
  box-shadow: 0px 2px #ddd;
}
.quiz__answer--text.correct {
  background: #BDFFBD;
  box-shadow: 0px 2px #AFECAC;
  -webkit-animation: 1s tada;
}
.quiz__answer--text.incorrect {
  background: #FFC5BD;
  box-shadow: 0px 2px #F4B0B0;
  -webkit-animation: 1s shake;
}
.quiz__answer--image {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 4px;
  box-sizing: border-box;
}
.quiz__answer--image img {
  height: 150px;
  vertical-align: top;
}
.quiz__answer--image:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-transition: .3s ease all;
}
.quiz__answer--image:hover:after {
  background-color: rgba(0, 0, 0, 0.2);
}
.quiz__answer--image.correct {
  -webkit-animation: 1s tada;
}
.quiz__answer--image.correct:after {
  background-color: rgba(0, 255, 0, 0.3);
}
.quiz__answer--image.incorrect {
  -webkit-animation: 1s shake;
}
.quiz__answer--image.incorrect:after {
  background-color: rgba(255, 0, 0, 0.3);
}
.quiz__answer-text {
  font-family: 'helvetica', sans-serif;
  font-weight: 700;
  padding: 15px 15px 13px 15px;
}
.quiz .hide {
  display: none;
}
.quiz__summary--hidden {
  display: none;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*# sourceMappingURL=quiz.css.map */
